<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать аккаунт</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-user.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adaptive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adaptive-user.css}">

    <link rel="icon" type="image/png" th:href="@{../images/логотип.png}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>

<!-- шапка HEADER-->
<div th:replace="blocks/header-user :: header"></div>

<div class="edit-account">
    <div class="container">
        <h1>Редактировать профиль</h1>
        <!--метод th:object вставляет уже значения поля тура, которые у него есть-->
        <form th:object="${user}" method="post" enctype="multipart/form-data"
              th:action="@{/edit-acc-user/{id}(id=${user.iduser})}">
            <input type="hidden" th:field="*{iduser}"/>
            <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            <div class="card__image">
                <input type="file" name="file" accept="image/*">
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            </div>
            <label>
                <div class="edit-acc-input-text" id="name">Введите имя</div>
                <input type="text" class="edit-acc-input" id="name-input" th:field="*{name}">
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            </label>
            <label>
                <div class="edit-acc-input-text">Введите фамилию</div>
                <input type="text" class="edit-acc-input" id="lastName-input" th:field="*{surname}">
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            </label>
            <label>
                <div class="edit-acc-input-text">Введите дату рождения</div>
                <input type="date" class="edit-acc-input" id="birth-input" th:field="*{birth}">
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            </label>
            <label>
                <div class="edit-acc-input-text">Введите свой телефон</div>
                <input type="text" class="edit-acc-input" id="phone-input" th:field="*{phone}">
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            </label>
            <label>
                <div class="edit-acc-input-text">Введите свой адрес проживания</div>
                <input type="text" class="edit-acc-input" id="address-input" th:field="*{address}">
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            </label>
            <label>
                <div class="edit-acc-input-text">E-mail</div>
                <input type="text" class="edit-acc-input" id="mail-input" th:field="*{email}">
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            </label>
            <button type="submit" class="button"><span>Изменить</span></button>
        </form>
    </div>
</div>
</body>
</html>